<div class="navbar-brand navbar-brand-center"  ui-content-for="title">
  <div>Error</div>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="list-group-item list-group-item-home text-center" id="hhhaftung">
        <h1>404</h1>
        Error in {{ config.appName }} / {{ setup.sid }} </br>
        Sorry, this page seems to be still an unfinished construction site.
        Please go back to <a href="#/">home.</a>
      </div>
    </div>
  </div>
</div>


<div ui-content-for="navbarAction">
</div>

