<div class="scrollable"> 
	<h6 class="scrollable-header app-name text-center" style="font-weight: 100;">{{ mc.config.appName }} <i class="fa fa-cube fa-lg text-gold"></i></h6>  
	<div class="scrollable-content">
		<div class="list-group" ui-turn-off='uiSidebarLeft'>
			<a class="list-group-item" href="#/">&nbsp;<i class="fa fa-home fa-fw fa-lg pull-right"></i></a>
			<a class="list-group-item" href="#/estate/new">{{ 'hhnew' | transSrv : mc.config.appName }} <i class="fa fa-plus fa-fw fa-lg pull-right"></i></a>
			<a class="list-group-item" href="#/estates">{{ mc.config.appName }} <i class="fa fa-list fa-fw fa-lg pull-right"></i></a>
		</div>
		<div class="list-group" ui-turn-off='uiSidebarLeft'>	
			<div ng-repeat="estate in mc.estates | orderBy: 'title'">
				<a class="list-group-item" href="#/estates/{{ estate.id }}">{{ estate.title | limitTo: 30 }}{{ estate.title.length > 30 ? '..' : ''}} <i class="fa fa-chevron-right fa-fw fa-lg pull-right"></i></a> 
			</div>	
		</div>
		<div class="list-group" ui-turn-off='uiSidebarLeft'>
			<a class="list-group-item" href="#/setup">{{ 'setup' | transSrv }} <i class="fa fa-wrench fa-fw fa-lg pull-right"></i></a>
			<a class="list-group-item" href="#/contact">{{ 'hhkontakt' | transSrv }} <i class="fa fa-globe fa-fw fa-lg pull-right"></i></a>
			<a class="list-group-item" href="#/impressum">{{ 'hhimpressum' | transSrv }} <i class="fa fa-flag fa-fw fa-lg pull-right"></i></a>
		</div>	
	</div>	
</div>

