<div class="modal" ui-if='www' ui-state='www'>
	<div class="modal-backdrop in"></div>
	<div class="modal-dialog" >
		<div class="modal-content">
			<h3 class="modal-title text-gold" style="font-weight: 100;"> {{config.appName}} <a class="close btn push-right"
	              ui-turn-off="www"><i class="fa fa-close fa-lg"></i></a>
	        </h3>
	        <h4 class="modal-body text-center" style="margin-top: 50px; margin-bottom: 50px;"><a ng-click="goToLink(estate.url);"><i class="fa fa-globe text-gold"></i> {{estate.url}}</a></h4>
	        <div estate-url=""></div>
	    </div>
	</div>
</div>



